.container{
     width: 900px;
     margin: 20px 85px 25px;
	 padding: 10px;	 
	 overflow: auto;
}

.pageContent{
	 max-width: 900px;
	 margin: auto;
	 padding: 10px;
}

		/*HEADERS*/
.header{ 
	 float: left;
	 /*position: fixed; */

}
.logo { 
	width: 100px;
	height:75px;
	
}
        /*NAVIGATION BAR*/
.navigation{
	 text-align: center;
	 width: 100%;
	 margin: 0;
}

ul{
	 list-style-type: none;
	 /*position: fixed;*/
	 top: 125px;  /*increase px to lower bar*/
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 overflow: hidden; /* look up overflow (auto or hidden)*/
	 background-color: #890010;
}

li{ 
     float: left;
	 margin: 5px 65px;
}

li a{
     display: block;
	 color: white;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
} 

li a:hover{
	 background-color: #BD7D85
}

.New {
	color: #70000D;
	margin: 20px;
}



.Main{
	 display: block;
	 margin: 0px 250px;
     width: 60%;	
	background-color: #BD7D85;
	 /**: visible; */
	 float: left
	 
}

.column{
	 float: left;
     width: 33.33%;	 

}

.rows:after{
     content: "";	
	 display: table;  /*or block */
	 clear: both;
	 
}

.prego1{
	 width: 80%;
	 margin: 70px 100px;
	 height: 205px;
}

.prego2{
	 width: 80%;
	 margin: 70px 100px;
	 height: 205px;
}

.prego3{
	 width: 80%;
	 margin: 70px 100px;
	 height: 205px;
}



.content {
	float: left;
	
	}

.MM {
	float: left;
	margin: 40px;
	width: 70%;

}

.Mamzelle {
	float: left;
	margin: 40px;
	width: 30%;

}

.Marian {
	float: left;
	margin: 40px;
	width: 30%;
}

.Pedro {
	float: left;
	margin: 40px;
	width: 30%;

}

.Oxitaly {
	float: left;
	margin: 40px;
	width: 20%;

}



.footer{
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bd7d85;
  color: white;
  text-align: center;
}