body {
	 background-image: to bottom right, red, yellow;
}

p{
	font-family: Arial, Helvetica, sans-serif;
}
.img { 
	width: 40px;
	height: 40px;
}

.navigation{
	 text-align: center;
	 width: 100%;
	 margin: 0;
	 position: sticky;
}

ul{
	 list-style-type: none;
	 /*position: fixed;*/
	 top: 125px;  /*increase px to lower bar*/
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 overflow: hidden; /* look up overflow (auto or hidden)*/
	 background-color: #57000A;
}

li{ 
    float: right;
}

li a{
     display: block;
	 color: white;
	 text-align: center;
	 padding: 14px 16px;
	 text-decoration: none;
} 

li a:hover{
	color: #C9858D;
}

.img {
	background-color: white;
	width: 100%;
	height: 400px;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 550px;
  position: relative;
  margin: 20px;
  float: left;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #C9858D;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #C9858D;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  float: left;
}

.active, .dot:hover {
  background-color: #57000A;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


.OpeningHours {
	text-align: center;
	margin: 50px 40px;
	float: right;
	width: 50%;
	border: 5px solid #7D010F;
	padding: 20px;
	border-radius: 0px 50px;
	background-color: #EFECEC;
}



.Brands {
	color: #7D010F;
	text-shadow: 2px 2px 4px #C9858D;
	float: left;
	margin: 20px;
}

.logos {
	background-color: white;
	width: 100%;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: black;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: black;
  color: white;
}
footer { 
  display: block;
  background-color: #A33643;
  width: 100%;
  float: left;
  text-align: center;
}
	