
p{
	font-family: Arial, Helvetica, sans-serif;
}
.img { 
	width: 40px;
	height: 40px;
}

.wrapper {
	float: left;
	margin: 0px 150px;
	border: 1px solid;
	padding: 30px;
}

.links a {
	color: #C9858D;
	font-size: 30px;
}

.links a:hover {
	color: #57000A;
}

.logo {
	float: float;
	margin: 0px 565px; 
}  

.topnav {
	background-color: #57000A;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #EFECEC;
	text-align: center;
	padding: 20px 24px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #C9858D;
	color:white;
}

.topnav a.active {
	background-color: #C9858D;
	color:white;
}


.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #A33643;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
}

.button:hover {background-color: #A33643
}

.button:active {
  background-color: #7D010F;
  box-shadow: 0 5px grey;
  transform: translateY(4px);
}

.return {
	margin: 10px 20px;
	float: left;
	font-size: 12;
	text-align: center;
	padding: 20px;
}



/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #C9858D;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: #C9858D;
  color: white;
}
footer { 
  display: block;
  background-color: #A33643;
  width: 100%;
  float: left;
  text-align: center;
  color: white;	
}
